<?xml version="1.0"?>
<config>
	<default>
	    <slider>
	        <option>                
	            <width>100%</width>
	            <height>300px</height>
	            <loop>1</loop>
	            <speed>5000</speed>
	            <control>1</control>
	            <indicator>1</indicator>     
	        </option>      
	    </slider>
	</default>
  <modules>
    <Jaljale_Banner>
      <version>0.1.0</version>
    </Jaljale_Banner>
  </modules>
  <frontend>
    <routers>
      <banner>
        <use>standard</use>
          <args>
            <module>Jaljale_Banner</module>
            <frontName>banner</frontName>
          </args>
      </banner>
    </routers>
		<layout>
		  <updates>
			<banner>
			  <file>banner.xml</file>
			</banner>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <banner>
        <class>Jaljale_Banner_Helper</class>
      </banner>
    </helpers>
	<blocks>
	  <banner>
		<class>Jaljale_Banner_Block</class>
	  </banner>
	</blocks>
	<models>
	  <banner>
		<class>Jaljale_Banner_Model</class>
		<resourceModel>banner_mysql4</resourceModel>
	  </banner>
	  <banner_mysql4>
		<class>Jaljale_Banner_Model_Mysql4</class>
		<entities>		  
			  <slider>
				<table>new_jaljale_banner_slider</table>
			  </slider>
        </entities>
	  </banner_mysql4>
	</models>
	<resources>
	  <banner_setup>
		<setup>
		  <module>Jaljale_Banner</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </banner_setup>
	  <banner_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </banner_write>
	  <banner_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </banner_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <banner>
	    <use>admin</use>
		<args>
		  <module>Jaljale_Banner</module>
		  <frontName>admin_banner</frontName>
		</args>
	  </banner>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <jaljale module="banner">
		<title>Jaljale</title>
		<sort_order>100</sort_order>
		<children>
		  <slider module="banner">
		    <title>Manage Banner Slider</title>
			<sort_order>0</sort_order>
			<action>admin_banner/adminhtml_slider</action>
		  </slider>
		</children>
	  </jaljale>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<banner translate="title" module="banner">
			  <title>Banner</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <slider translate="title">
			<title>Manage Slider</title>
			<sort_order>0</sort_order>
		  </slider>
			  </children>
			</banner>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<banner>
		  <file>banner.xml</file>
		</banner>
	  </updates>
	</layout>
  </adminhtml>
</config> 